<h1>All Listings<h2> 
<%= form_tag listings_path, method: :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<ol><% @listings.each do |l| %>
<li><a href="/listings/<%=l.id%>"><%= l.name %></a> 
	<%= "@" + l.location %>
	<%= l.pricing %>
	<%= l.tag_list %>
	<% l.images.each do |image| %>
	<%= image_tag(image) %>
	<% end %>
</li>
	<% end %>
</ol>

<div class=apple_pagination>
 <%= will_paginate @listings %>
</div>