<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Property booked by, <%= @user.username %></h1>
    <p>
      Someone have successfully booked this listing,<br>
      Booking number: <%= @reservation.id %>.<br>
      Booked from: <%= @reservation.start_date %><br>
      Until: <%= @reservation.end_date %><br>
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to 'Login', sign_in_path %>.
    </p>
  </body>
</html>