<h2>Your Booking is partially-confirmed! Make payment first!</h2>
Booking number: <%= @reservation.id %>
<%= form_for :payment, id: "checkout", url: "/payments" do |f| %>
  <div id="payment-form"></div>
  <%= f.hidden_field :reservation_id, value: @reservation.id %>
  <input type="submit" value="Pay RM <%= @reservation.price %>">
<% end %>

<script src="https://js.braintreegateway.com/js/braintree-2.27.0.min.js"></script>
<script>
// We generated a client token for you so you can test out this code
// immediately. In a production-ready integration, you will need to
// generate a client token on your server (see section below).

braintree.setup("<%= @client_token %>", "dropin", {
  container: "payment-form"
});
</script>